html,
body,
#root {
  margin: 0;
  height: 100%;
}

html,
body {
  padding: 0;
}

body {
  font-family: var(--font-primary);
  font-size: var(--font-base-size);
  line-height: 1.5;
  color: var(--color-fg);
  background: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

img,
svg,
video,
canvas {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: default;
  -webkit-appearance: none;
  appearance: none;
}

button:disabled {
  cursor: not-allowed;
}

input,
textarea,
select {
  margin: 0;
  background: transparent;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  appearance: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: default;
}

code,
pre,
kbd,
samp {
  font-family: var(--font-mono);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
